<%- include('templates/header') -%>
<div class='container'>
	<div class='jumbotron'>
		<h1> SEARCH </h1>
		<form action='/results' method='GET'>
			<div class='form-group row'>
				<label for='title' class='col-sm-4 col-form-label'>Title</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='title' name='title' placeholder='Title'>
				</div>
			</div>
			<div class='form-group row'>
				<label for='author' class='col-sm-4 col-form-label'>Author</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='author' name='author' placeholder= 'Author'>
				</div>
			</div>
			<div class='form-group row'>
				<label for='subject' class='col-sm-4 col-form-label'>Subject</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='subject' name='subject' placeholder= 'Subject'>
				</div>
			</div>
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Search</button>
				</div>
				<div class='col-sm-4'></div>
			</div>
		</form>
	</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-1 my-auto cardMove" id="back">
            <button class="scroll-button"><i class="fas fa-angle-left fa-2x"></i></button>
        </div>
        <%featured.forEach((book, i)=>{%>
        <div class="col-md-3">
            <div class="card card<%=i+1%> home-card" id="<%=book.ISBN%>">
                <img class="card-img-top" src="<%=book.img%>"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title center"><%=book.title%></h4>
                    <p class="card-text"><%=book.description%></p>
                    <a href="/results/<%=book.ISBN%>" class="black-text d-flex justify-content-end">
                        <h5>Read Reviews <i class="fas fa-angle-double-right"></i></h5>
                    </a>
                </div>
            </div>
        </div>
        <%});%>
        <div class="col-sm-1 my-auto cardMove" id="forward">
            <button class="scroll-button"><i class="fas fa-angle-right fa-2x"></i></button>
        </div>
    </div>
</div>

<%- include('templates/footer') -%> 