<%- include('templates/header') -%>
<div class="container">
    <!--Title-->
    <div>
        <h2 class="text-center"><strong><%=book.title%></strong></h2>
        <h3 class="text-center"><%=book.authors%></h3>
    </div>
    <div class="pb-4 pt-2 row justify-content-center">
        <div class="col-4 m-3">
            <img class="p-2 cover" src="<%=book.cover%>">
        </div>
        <div class="col-4 m-3">
            <div><strong>Publisher:</strong> <%=book.publisher%></div>
            <div><strong>Date of Publication:</strong> <%=book.publishedDate%></div>
            <div><strong>Subjects:</strong> <%=book.subjects%></div>
            <div><strong>Pages:</strong> <%=book.pageCount%></div>
            <div><strong>ISBN 10:</strong> <%=book.isbn10%></div>
            <div><strong>ISBN 13:</strong> <%=book.isbn13%></div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <%=book.synopsis%>
    </div>
</div>
<hr>
<div class="container">
    <h2 class="text-center"><strong>Reviews</strong></h2>
    <div id="reviews" class="pb-4 pt-2 reviews">
        <%reviews.forEach(function(review) {%>
            <div id=<%=review.username%>>
                <input type="hidden" id="isbn" value="<%=ISBN%>">
                <div class="heading row">    
                    <div class="col">
                        <%=review.username%>
                    </div>
                    <div class="align col">
                        <%=moment(review.date).fromNow();%>
                    </div>
                </div>
                <div class="whitespace" id="review"><%=review.review%></div>
                <div id="editedReviewArea"></div>
                <small class="errorMsg"></small>
                <span id="edit"><i>
                <%if (review.edit == 1) {%>
                    (Edited)
                <%}%>
                </i></span>
                
                
                    <div id="buttons" class="align">
                        <%if (review.username == user) {%>
                            <button id="editBtn" input type="submit" class="btn btn-primary btn-sm">Edit</button>
                            <button id="submitEditBtn" input type="submit" class="btn btn-success btn-sm" hidden>Submit</button>
                            <button id="cancelEditBtn" input type="submit" class="btn btn-danger btn-sm" hidden>Cancel</button>
                        <%}%>
                        <%if (review.username == user || user == "Admin") {%>
                            <button id="deleteBtn" input type="submit" class="btn btn-danger btn-sm">Delete</button>
                        <%}%>
                    </div>
            </div>
            <hr>
        <%});%>
    </div>

    <!--only show textbox if user has logged in AND has not left a review-->
    <%if (user && user != "Admin" && !hasUserLeftReview) {%>
        <form id="reviewForm" action="/review/<%=ISBN%>" method="POST" >
            <!--<input type="hidden" id="isbn" value="<%=ISBN%>">-->
            <%console.log(user);%>
            <input type="hidden" name="username" value="<%=user%>">
            <div class="form-group">
                <label for="newReview">Write a review!</label>
                <textarea class="form-control" class="whitespace" name="newReview" id="newReview" rows="5" required></textarea>
                <small id="charsLeft">There are 500 characters left!</small>
            </div>
            <button input type="submit" class="btn btn-success btn-sm">Submit</button>
        </form>
    <%}%>
</div>
<%- include('templates/footer') -%>